<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="panda_gazebo" params="robot_name">
		
		<xacro:macro name="add_collision_sensing" params="link_name">
			<gazebo reference="${link_name}">
				<sensor type="contact" name="${link_name}_bumper">
					<topic>/bump_topic/${link_name}</topic>
					<plugin name="gazebo_ros_bumper_controller_${link_name}" filename="libgazebo_ros_bumper.so">   
						<topic>/bump_topic/${link_name}</topic>
						<alwaysOn>1</alwaysOn>
						<updateRate>100.0</updateRate>
						<bumperTopicName>/panda/bumper/${link_name}</bumperTopicName>
					</plugin>
					<contact>
						<collision>${link_name}_collision</collision>
						<xacro:if value="${'panda_link7'==link_name}">
							<collision>panda_link7_fixed_joint_lump__panda_hand_collision_1</collision>
						</xacro:if>
						<xacro:if value="${'panda_probe_cyl'==link_name}">
							<collision>panda_probe_cyl_collision</collision>
						</xacro:if>
						<xacro:if value="${'panda_probe_ball'==link_name}">
							<collision>panda_probe_cyl_fixed_joint_lump__panda_probe_ball_collision_1</collision>
						</xacro:if>
						<topic>/bump_topic/${link_name}</topic>
					</contact>
					<alwaysOn>true</alwaysOn>
					<updateRate>10.0</updateRate>
				</sensor>
			</gazebo>
		</xacro:macro>
		
		<xacro:add_collision_sensing link_name="${robot_name}_link1"/>
		<xacro:add_collision_sensing link_name="${robot_name}_link2"/>
		<xacro:add_collision_sensing link_name="${robot_name}_link3"/>
		<xacro:add_collision_sensing link_name="${robot_name}_link4"/>
		<xacro:add_collision_sensing link_name="${robot_name}_link5"/>
		<xacro:add_collision_sensing link_name="${robot_name}_link6"/>
		<xacro:add_collision_sensing link_name="${robot_name}_link7"/>
		<xacro:add_collision_sensing link_name="${robot_name}_link8"/>
		<xacro:add_collision_sensing link_name="${robot_name}_hand"/>
		<xacro:add_collision_sensing link_name="${robot_name}_rightfinger"/>
		<xacro:add_collision_sensing link_name="${robot_name}_leftfinger"/>
		<xacro:add_collision_sensing link_name="${robot_name}_probe_cyl"/>
		<xacro:add_collision_sensing link_name="${robot_name}_probe_ball"/>
		
		<gazebo reference="${robot_name}_probe_cyl_joint">
			<provideFeedback>true</provideFeedback>
		</gazebo>
		
		<gazebo>
			<plugin name="ft_sensor_tool" filename="libgazebo_ros_ft_sensor.so">
				<updateRate>1000.0</updateRate>
				<topicName>${robot_name}/ft/tool</topicName>
				<jointName>${robot_name}_probe_cyl_joint</jointName>
			</plugin>
		</gazebo>

        <!-- Link0 -->
        <gazebo reference="${robot_name}_link0">
            <material>Gazebo/Grey</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <!-- Link1 -->
        <gazebo reference="${robot_name}_link1">
            <material>Gazebo/White</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <!-- Link2 -->
        <gazebo reference="${robot_name}_link2">
            <material>Gazebo/White</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <!-- Link3 -->
        <gazebo reference="${robot_name}_link3">
            <material>Gazebo/White</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <!-- Link4 -->
        <gazebo reference="${robot_name}_link4">
            <material>Gazebo/White</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <!-- Link5 -->
        <gazebo reference="${robot_name}_link5">
            <material>Gazebo/White</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <!-- Link6 -->
        <gazebo reference="${robot_name}_link6">
            <material>Gazebo/White</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <!-- Link7 -->
        <gazebo reference="${robot_name}_link7">
            <material>Gazebo/Grey</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <!-- Link8 -->
        <gazebo reference="${robot_name}_link8">
            <material>Gazebo/Grey</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <!-- LinkHand -->
        <gazebo reference="${robot_name}_hand">
            <material>Gazebo/Grey</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <!-- LinkRightFinger -->
        <gazebo reference="${robot_name}_rightfinger">
            <material>Gazebo/Grey</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <!-- LinkLeftFinger -->
        <gazebo reference="${robot_name}_leftfinger">
            <material>Gazebo/Grey</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

    </xacro:macro>

</robot>

